@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	display: none;
}

body:hover #cursor-dot,
body:hover #cursor-outline {
	opacity: 1;
}

* {
	@apply scroll-smooth transition-colors sm:cursor-none;
}

.inputbox {
	@apply h-14 rounded-full border-2 border-transparent bg-neutral-100/70 px-6 text-xl font-medium text-gray-900/80 caret-neutral-100/80 outline-none backdrop-blur-3xl duration-300 placeholder:text-lg placeholder:text-gray-900/60 hover:border-gray-900/30 focus:border-[3px] focus:border-gray-900/50 dark:bg-neutral-100/20 dark:text-neutral-100/90 placeholder:dark:text-neutral-100/70 dark:hover:border-neutral-100/50 dark:focus:border-neutral-100/80 max-md:h-12 max-md:text-lg max-md:placeholder:text-base;
}

.visiblity-hidden {
	@apply invisible opacity-0;
}
